svg, object, img {
	max-width: 100vw;
	max-height: 300vh;
}

form[name="books"] {
	background: url('https://upload.wikimedia.org/wikipedia/commons/7/75/Brisbane_city_skyline.jpg') no-repeat center center;
	height: 90vh;
	display: flex;
}

form[name="books"] > fieldset {
	width: 60vw;
	height: 60vh;
	margin: auto;
}
