@import url('https://fonts.googleapis.com/css?family=Eczar|Noto+Serif');

/* Resets */
* {
	 display: border-box;
}

body {
	width: 100%;
	margin: 0px;
}

/* Text, font */
h1 {
  font-size: 3.5em;
  font-family: "Eczar", serif;
  font-weight: normal;
}

h1 > span {
  padding-bottom: 0.4rem;
  border-bottom: solid 3px #BE4343;
}

/* animations */
.slow {
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
}

/* general layout */
section {
	background: none;
}

.hidden, .hidden * {
	opacity: 0;
}

.background-video {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

.background-video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(70%);
}

svg, object, img {
	max-width: 100vw;
	max-height: 300vh;
}

.hero, .quiz-container, #intro {
	position: relative;
	background: none;
	min-height: 90vh;
}

/* Quiz */

.quiz-container {
	position: relative;
	background: none;
	min-height: 90vh;
	display: flex;
	color: white;
}

form.quiz {
	margin: auto;
}

form.quiz > fieldset {
	min-width: 60vw;
	min-height: 60vh;
	margin: 1em;
}

form.quiz label {
	font-weight: normal;
}


/* Specific Quiz Questions */
.quiz-container.commute-time video {
	object-position: 77% 62%;
}

.commute-time-map {
  background-image: url('../img/brisbane-commute-map.png');
  background-position: center;
  background-size: cover;
}

.commute-map-legend {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border-radius: 15px;
}

.commute-map-copyright {
  margin: 0;
  padding: 2px;
  background-color: #fab;
}

.quiz-container.number-books {
	background: url('https://upload.wikimedia.org/wikipedia/commons/7/75/Brisbane_city_skyline.jpg') no-repeat center center;
}

form.three-class div.class-options {
	display: flex;
	flex-direction: row;
	width: 100%;
}

@media screen and (max-width: 800px) {
	form.three-class div.class-options {
		flex-direction: column;
	}
}

form.three-class p {
	border-radius: 1em;
	border: 0.1em solid black;
	margin: 2vmin 1vw;
	padding: 1rem;
	flex-grow: 1;
	color: black;
	background: #ddd;
}

div.three-class {
	margin: auto;
	margin-top: 3rem;
	width: 80%;
}

form.three-class p.working-class:hover {
	background: #e4e4e4;
}

form.three-class p.middle-class:hover {
	background-image: linear-gradient(to bottom, white, #e4e4e4);
}

form.three-class p.upper-class:hover {
	background-image: linear-gradient(to bottom, #FDE08D, #DF9F28);
	/* from http://cssdeck.com/labs/mfqb3utw */
}

/*
 * SHINY CSS BUTTON EFFECT
 */
.glint:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(-30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.glint {
  position: relative;
  overflow: hidden;
}

.glint:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.glint:active:after {
  opacity: 0;
}
