/* Resets */
* { 
	 display: border-box;
}

body { 
	width: 100%;
	margin: 0px;
}

/* general */
section {
	background: none;
}

.hidden {
	display: none;
}

.background-video {
	position: absolute;
	min-width: 100%;
	max-width: 100vmax;
	min-height: 100%;
	z-index: -1;
	overflow: hidden;
	object-fit: cover;
	filter: brightness(70%);
}

svg, object, img {
	max-width: 100vw;
	max-height: 300vh;
}

/* Quiz */
form.quiz {
	background: none;
	height: 90vh;
	display: flex;
	color: white;
}

form.quiz * {
	color: white;
}

form.quiz label {
	font-weight: normal;
}

form.quiz[name="books"] {
	background: url('https://upload.wikimedia.org/wikipedia/commons/7/75/Brisbane_city_skyline.jpg') no-repeat center center;
}

form.quiz > fieldset {
	width: 60vw;
	height: 60vh;
	margin: auto;
}

#maps {
	background: white;
	padding-top: 15vh;
}
